body {
  font-size: 16px;
  line-height: 1.5;
  color: #ebeeee;
  background-image: url("./images/zebras.jpg");
  height: 100vh;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 12px blue, 0 0 2px darkblue;
}

.login-form {
  width: 400px;
  margin: auto 100px;
  padding: 32px;
  font-size: 16px;
  /* font-weight: bold; */
  background-color: rgba(97, 86, 41, 0.8);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
}

input,
textarea, select {
  margin: 10px;
  padding: .75rem;
  border-radius: 4px;
  width: 50%;
}

form div {
  text-align: right;
}

button {
  /* max-width: 100px; */
  margin: 16px 0;
  padding: 12px 20px;
  border-style: none;
  background-color: #585858;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

/* button {
  margin: 12px;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 2px 8px #333;
  border: none;
  border-bottom: 4px tan solid;
} */

h1 {
  color: #131313;

}


